<header id="first">
    <div class="header-content">
        <div class="inner">
            <h1 class="cursive wow flipInX">Hashem is always listening</h1>
            <h4>Klal yisroel is here to help</h4>
            <hr>
            <a ng-click="add()" class="btn btn-primary btn-xl">Create a post</a>
        </div>
    </div>
    <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
        <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/it-was-all-yellow.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
</header>
<section id="one">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <i class="icon-lg ion-medkit wow fadeIn" data-wow-delay=".3s"></i>
                    <h3>Something happened</h3>
                    <p class="text-muted">You need some help</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <i class="icon-lg ion-person-stalker wow fadeInUp" data-wow-delay=".2s"></i>
                    <h3>Gather your brothers and sisters</h3>
                    <p class="text-muted">Create a post and share the link</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <i class="icon-lg ion-happy-outline wow fadeIn" data-wow-delay=".3s"></i>
                    <h3>Change the outcome</h3>
                    <p class="text-muted">Get yeshuos</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="container" id="four">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4" ng-repeat="event in events">
            <h2 class="text-center text-primary">{{event.title}}</a></h2>
            <div class="media wow fadeInRight">
                <h3 class="text-center">{{event.name}}</h3>
                <div class="media-body media-middle">
                    <p class="text-center">{{event.percent}}% complete. Can you help?
                    Click <a href="/#/browse/{{event._id}}">here.</a></p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="container-fluid">
        <span class="pull-right text-muted small">&copy;<a href="http://moshekarmel.com"> Moshe Karmel</a> 2015</span>
    </div>
</footer>