<div class="page-header page-heading">
  <h1 class="pull-left hidden-xs hidden-sm">Parnassah Ideas</h1>
  <h4 class="pull-left hidden-md hidden-lg">Parnassah Ideas</h4>
  <ol class="nav nav-pills pull-right">
    <li ng-class="{'active': order=='-posted'}"><a href="#" ng-click="setOrder('-posted')">
      <span class="glyphicon glyphicon-time"></span><span class="hidden-xs hidden-sm"> Date Posted</span></a>
    </li>
    <li ng-class="{'active': order=='-upvotes'}"><a href="#" ng-click="setOrder('-upvotes')">
      <span class="glyphicon glyphicon-thumbs-up"></span><span class="hidden-xs hidden-sm"> Upvotes</span></a>
    </li>
  </ol>
  <div class="clearfix"></div>
</div>
<div ng-show="error" class="alert alert-warning alert-dismissible row" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Sorry</strong> {{error.message}}
</div>
<button ng-show="isLoggedIn()" type="button" class="btn btn-primary btn-md pull-right" ng-click="add()">
  <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs hidden-sm"> Add</span>
</button>
<div ng-hide="isLoggedIn()">
  <h5>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h5>
</div>