<div class="page-header">
  <h3>
    {{post.title}} <br/><small>by {{post.author}}
      <span title="{{post.posted | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a'}}" am-time-ago="post.posted"></span>
    </small>
    <div class="btn-group pull-right" ng-show="currentUser()==post.author" role="group" aria-label="">
      <button type="button" ng-hide="edit" ng-click="toggleEdit()" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs hidden-sm"> Edit</span>
      </button>
      <button type="button" ng-show="edit" ng-click="save()" class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span><span class="hidden-xs hidden-sm"> Save</span>
      </button>
    </div>
  </h3> 
</div>
<textarea ng-show="edit" class="form-control" ng-model="updatedVersion" ng-bind="updatedVersion" rows="10"></textarea> 
<p class="lead" ng-hide="edit" style="white-space: pre-line" ng-bind="post.postBody"></p>
<hr />
<div ng-show="error" class="alert alert-warning alert-dismissible row" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Sorry</strong> {{error.message}}
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <p class="lead">Do you agree with this post? <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(post)"></span> {{post.upvotes}}</p>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <ol class="nav nav-pills pull-right">
      <li ng-class="{'active': order=='-posted'}"><a href="#" ng-click="setOrder('-posted')">
        <span class="glyphicon glyphicon-time"></span><span class="hidden-xs hidden-sm"> Date Posted</span></a>
      </li>
      <li ng-class="{'active': order=='-upvotes'}"><a href="#" ng-click="setOrder('-upvotes')">
        <span class="glyphicon glyphicon-thumbs-up"></span><span class="hidden-xs hidden-sm"> Upvotes</span></a>
      </li>
    </ol>
  </div>
</div>
<hr />
<div ng-repeat="comment in post.comments | orderBy:order">
  <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
  {{comment.upvotes}} - by {{comment.author}}
    <span title="{{comment.posted | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a'}}" am-time-ago="comment.posted"></span>
  <span class="word">
    {{comment.body}}
  </span>
</div>

<form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
  <h4>Add a new comment</h4>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
<div ng-hide="isLoggedIn()">
  <h5>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h5>
</div>